.Project-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2vmax;

  > h2 {
    font-size: 3vmax;
    color: aqua;
    margin-bottom: 2vmax;
  }

  .Project-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;

    flex-wrap: wrap;

    img {
      margin: 2vmax;

      box-shadow: 0px 0px 10px aqua;
      transition: all 0.5s linear;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}
