.about-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 8vmax;
  width: 70vw;

  .img-container {
    animation: myAnimation 4s;
    > img {
      width: 33vmax;
      height: 33vmax;
      transition: all 0.5s linear;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .about-container-main {
    color: white;
    width: 40vw;
    font-size: 20px;
    animation: myAnimation2 2s;
    margin-left: 4vmax;
    p {
      word-spacing: 2px;
    }
  }
}

@keyframes myAnimation {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(100px);
    opacity: 1;
  }
}

@keyframes myAnimation2 {
  from {
    transform: translatex(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .about-container {
    flex-direction: column;
    margin: 8vmax;
    width: 80vw;
    .about-container-main {
      width: 80vw;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 800px) {
  .about-container {
    margin-top: 15vmax;
    width: 80vw;

    .about-container-main {
      p {
        word-spacing: 2px;
        font-size: 2vmax;
        margin-left: 3vmax;
      }
    }
  }
}
