.home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // background-color: rgb(20, 41, 66) !important;

  height: 100vh;

  .home-container-main {
    width: 50%;
    color: rgb(224, 217, 217);
    > div {
      margin-left: 10vmax;
    }

    .home-icons {
      margin-top: 2vmax;
      display: flex;
      align-items: center;
      svg {
        font-size: 2vmax;
        cursor: pointer;
        color: rgb(13, 218, 218);
        margin: 0.2vmax;
        transition: all 0.3s linear;
        &:hover {
          color: white;
        }
      }
    }

    .home-btn button {
      margin-top: 1vmax;
      cursor: pointer;
      padding: 0.5vmax;
      font-size: 1.3vmax;
      border-radius: 30px;
      transition: all 0.2s;
      &:hover {
        box-shadow: 0px 0px 10px #04eaff;
      }
    }
  }

  .home-conatiner-main-2 {
    width: 50%;
    > img {
      width: 33vmax;
      height: 33vmax;
      margin-left: 4vmax;
      border-radius: 50%;
      transition: all 0.5s linear;
      box-shadow: 0px 0px 20px #04eaff;

      &:hover {
        transform: translatey(-10px);
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .home-container {
    flex-direction: column;

    .home-container-main {
      width: 100%;
      > div {
        margin-left: 1vmax;
      }
      .home-btn button {
        padding: 1vmax;
        font-size: 1.8vmax;
      }
    }
    .home-conatiner-main-2 {
      width: 100%;
      > img {
        margin-right: 2vmax;
      }
    }
  }
}
