.contact-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin: 18px;
    font-size: 40px;
    color: aqua;
  }

  .contact-container {
    display: flex;
    align-items: center;

    flex-direction: row;
    color: white;
    width: 100%;

    .contact-container-1 {
      width: 50%;
      > .contact-1 {
        margin: 2vmax;

        > h3 {
          font-size: 2vmax;
          margin-bottom: 1vmax;
        }
        p {
          margin-bottom: 2vmax;
          font-size: 20px;
        }
        a {
          color: white;

          font-size: 1.2vmax;

          &:hover {
            color: aqua;
          }
        }
        svg {
          margin-right: 6px;
          font-size: 1.5vmax;
          color: aqua;
        }
      }
      .home-icons {
        margin-top: 2vmax;
        display: flex;
        align-items: center;
        svg {
          font-size: 2vmax;
          cursor: pointer;
          color: rgb(13, 218, 218);
          margin: 0.2vmax;
          transition: all 0.3s linear;
          &:hover {
            color: white;
          }
        }
      }
    }
    .contact-form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      > form {
        display: flex;
        flex-direction: column;

        width: 100%;

        > input {
          margin-top: 1vmax;
          height: 35px;
          width: 30vmax;
          font-size: 1.5vmax;
          background-color: gray;
          padding: 5px;

          font-style: italic;
          &::placeholder {
            color: rgb(46, 44, 44);
          }
        }
        textarea {
          margin-top: 1vmax;
          width: 30vmax;
          font-size: 1.5vmax;
          background-color: gray;
          padding: 5px;

          &::placeholder {
            color: rgb(46, 44, 44);
          }
        }
        .submitbtn {
          background-color: aqua;
          border-radius: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-main-container {
    .contact-container {
      flex-direction: column;

      .contact-container-1 {
        width: 100%;
        > .contact-1 {
          a {
            font-size: 2.5vmax;
          }
          svg {
            font-size: 2.5vmax;
          }
        }
      }
      .contact-form-container {
        width: 100%;

        > form {
          width: 50%;

          > input {
            width: 33vmax;
          }
          textarea {
            width: 33vmax;
          }
        }
      }
    }
  }
}
