.myService-whole-container {
  display: flex;
  flex-direction: column;

  .service-heading {
    font-size: 5vmax;
    color: aqua;
    align-items: center;
    margin: 2vmax 2vmax;
  }
  .main-container-service {
    display: flex;
    flex-wrap: wrap;

    .myservice-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      .myservice-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2vmax;
        cursor: pointer;
        margin: 0.5vmax;
        width: 450px;
        height: 320px;
        border-radius: 20px;
        box-shadow: 0px 0px 18px rgb(42, 80, 176);
        background-color: rgb(0, 0, 0);
        color: white;
        &:hover {
          opacity: 0.2;
        }
        h3 {
          font-size: 3.7vmax;
          color: aqua;
        }
        > div > h2 {
          margin-bottom: 1.5vmax;
          font-size: 26px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 933px) {
  .myService-whole-container {
    .main-container-service {
      .myservice-container {
        .myservice-card {
          width: 300px;
          height: 250px;

          &:hover {
            opacity: 0.2;
          }
          h3 {
            font-size: 3.7vmax;
            color: aqua;
          }
          > div > h2 {
            margin-bottom: 1.5vmax;
            font-size: 26px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
