.footer-main-container {
  background-color: rgb(16, 13, 37);
  display: flex;
  align-items: center;
  margin-top: 2vmax;
  padding: 2vmax;
  justify-content: center;
  flex-direction: column;
  .footer-section-1 {
    .home-icons {
      margin-top: 2vmax;
      display: flex;
      align-items: center;

      svg {
        font-size: 2vmax;
        cursor: pointer;
        color: rgb(13, 218, 218);
        margin: 0.2vmax;
        transition: all 0.3s linear;
        &:hover {
          color: white;
        }
      }
    }
  }
  .footer-section-2 {
    margin: 1.5vmax;
    > ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      li {
        margin: 10px;
        font-size: 2.2vmax;
        color: white;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .footer-section-3 {
    > h2 {
      color: white;
    }
  }
}

@media screen and (max-width: 460px) {
  .footer-main-container {
    .footer-section-1 {
      .home-icons {
        margin-top: 2vmax;
        svg {
          font-size: 4vmax;

          margin: 0.5vmax;
        }
      }
    }
    .footer-section-2 {
      margin: 1vmax;
      > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        li {
          margin: 3px;
          font-size: 2.2vmax;
          color: white;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .footer-section-3 {
      > h2 {
        color: white;
        font-size: 18px;
      }
    }
  }
}
